:root {
  --font-main: 'Inter', sans-serif;
  --font-accent: 'PressStart2P', fantasy;
  --text-weight: 410;
  --title-weight: 715;
  --bg-color: #fff;
  --accent-color: #000;
  --stroke-color: #d3d3d3;
  --heart-contour: #000;
  --heart-fill: #ff0000;
  --content-width: clamp(375px, 50vw, 696px);
  --bg-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}